# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [4]:
#data = {'國家': ,
#        '人口': }
#data = pd.DataFrame()

In [5]:
pop = np.random.randint(10000,1000000,size=3)
country = ["TW", "US", "CN"]

list_label = ["countries", "population"]
list_col = [country, pop]

zipped = list(zip(list_label, list_col))

df = pd.DataFrame(dict(zipped))

print(df)

df.iloc[[df['population'].idxmax()]]

  countries  population
0        TW      447490
1        US      286179
2        CN       52792

  countries  population
0        TW      447490